/* Navigation Bar */

/* navbar when not logged in */
/* entire navbar space */
.topbar1 {
  display: flex;
  position: relative;
  background-color: #B9975B;
  color: white;
  width: 99%;  /*changed to 100 to take up the screen willgo over in meeting*/
  margin: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 94px;
}

/* main section */
.header1 {
  position: relative;
  background-color: #005035;
  color: white;
  width: 100%;
  margin-top: 0;
  margin-bottom: 11px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* navbar when logged in */
/* entire navbar space */
.topbar2 {
  display: flex;
  position: relative;
  background-color: #B9975B;
  color: white;
  width: 99%;  /*changed to 100 to take up the screen willgo over in meeting*/
  margin: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 105px;
}

/* main section */
.header2 {
  position: relative;
  background-color: #005035;
  color: white;
  width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pages {
  position: absolute;
  color: white;
  width: 100%;
  bottom: 0%;
  height: 2em;
}

.navHome {
  position: absolute;
  right: 15em;
  bottom: 0%;
}

.titlebox {
  position: relative;
  color: white;
  background-color: #005035; 
  height: 50em;
  width: 50em;
  margin: auto;
}

.navMyEvents {
  position: absolute;
  right: 9em;
  bottom: 0%;
}

.navCreateEvent {
  position: absolute;
  right: 2.5em;
  bottom: 0%;
}

/* login button */
.login-button {
  display: block;
  float: right;
  margin-top: 24px;
  margin-right: 5%;
  
}

/* signup button */
.signup-button { 
  float: right;
  margin-top: 24px;
  margin-right: 1%;
}

/* unimeet logo & home button */
.Unimeet-Logo {
  display: block;
  float: left;
  height: 83px;
  width: auto;
  border-bottom-left-radius: 15px;
}

/*may need to scale image down and re-adjust this*/
.UNCC-Logo {
  position: absolute;
  transform: translate(-68%, 0);
  width: auto;
  height: 75px;
  margin: 3px;
}


/* Front Page */

/* welcome message */
.welcome {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  justify-content: center;
  position: relative;
  color: #005035;
}

/* area surrounding the slideshow */
.slideshowBox {
  position: relative;
  background-color: #eaeaea;
  height: 700px;
  width: 95%;
  margin: auto;
  margin-bottom: 200px;
  border-radius: 15px;
}

/* slideshow */
.slideshow {
  position: absolute;
  top: 7%;
  right: 16%;
  width: 1200px;
}



/* MyEventsPage CSS */

/*Dotted line break to separate Attending events from Coordinating events*/
.dottedLineBreak {
  border: none;
  border-top: 5px dotted #B9975B;
  background-color: transparent;
  width: 75%;
  margin: 0 auto;
  opacity: 1;
}

/*Dotted line break to separate Coordinating events from Attending events*/
.solidLineBreak {
  border: none;
  border-top: 5px solid #B9975B;
  width: 100%;
  opacity: 1;
}

/*Sub-labels, aka the "Attending" and "Coordinating" subheadings */
.myEventsSubLabel {
  color: #005035;
  font-weight: 600;
}

/*Main heading for the My Events page*/
.myEventsLabel {
  background-color: #005035;
  color: white;
  font-weight: 600;
  padding: 10px;
}

/*Entire container for the My Events page content */
.myEventsContainer {
  width: 80%;
  margin: 50px auto;
}

/*Text label for each location */
.locationLabel {
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
}

/*Aligns events horizontally for each location*/
.alignEvents {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
}


/* CreateEventpage CSS */

/*Handles the width and centering of each input box*/
.w-50 {
  margin: auto;
}

/* App CSS */

.App {
  text-align: center;
}

/* Css that handles the bottom of the page no longer in use after creating footer*/
.App-header {
  background-color:#005035;
  margin: auto;
  width: 99%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* App link css*/
.App-link {
  color: #61dafb;
}

/*  css for the user profile pic  */
.userimage{
  float: right;
  margin-top: 8px;
  margin-right: 2%;
 /* border: 2px solid gold;       The borders do not line up currently*/   
  height: 50px;
  width: 50px;

}

/*createevent button*/
.createevent-button, .home-button {
  float: right;
  margin-top: 24px;
  margin-right: 1%;
}

/* signout button */
.signout-button { 
  display: block;
  float: right;
  margin-top: 24px;
  margin-right: 2%;
}


/* css for the button */
.custonbuttom{
  margin-top: 25px;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-left: 25px;

}
/*This is the css for the body  */
.textBackground{
  background-color: white;
  color: black;
  min-height: 100vh;

}

/* Dashboard page misc. (everything other than map and sidemenu) */

.dashboardWelcome {
  color: #005035;
  font-size: 36px;
  padding-top: 10px;
}

.dashboardMessage {
  color: #005035;
  font-size: 22px;
  padding-bottom: 5px;
}

/* Dashboard "Main Area" (leaflet map and sidemenu) */

.mainArea {
  height: 700px;
  position: relative;
  display: block;
  justify-content: center;
  width: 90%;
  left: 5%;
}

.leaflet-container{
  position: relative;
  float: none;
  display: block;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content:center;
  border: solid grey 3px;
  height: 700px;
  width: 78%;
}

.popupTitle {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: black;
  border-bottom: 1px solid #B9975B;
}

.popupDay {
  font-size: 12px;
  font-weight: normal;
  display: flex;
  justify-content: left;
  color: grey;
  padding: 6px;
}

.leaflet-popup {
  width: 260px;
  border: 3px solid #008037;
  border-radius: 14px;
}

/* Scrollbar on event popups */
.popupScroll {
  position: relative;
  overflow-y: scroll;
  width: 232px;
  max-height: 550px;
}

/* Note: -webkit is not supported in Firefox */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: rgb(204, 204, 204);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(116, 116, 116);
}

#sideMenu {
  position: relative;
  display: none;
  float: left;
}

@keyframes fadein {
  from {
    opacity: .2;
  }

  to {
    opacity: 1;
  }
}

#sideMenu.open {
  display: block;
  height: 100%;
  width: 22%;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 3px solid grey;
  animation: 0.3s fadein;
}

/* css for about us text*/
.aboutUs {
    text-align: left;
    font-size: 24px;
    padding: 20px 150px 20px 150px;
}

/*css for create evet page */
.mydiv {
    border-color: #005035;
    border-style: inset;
    padding:40px;

    border-radius: 40px;
    text-align: center;
    margin: 40px 90px;
}

/*can be used to split the text on create event page*/
.mydivcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
