/* Navigation Bar */

/* navbar when not logged in */
/* entire navbar space */
.topbar1 {
  display: flex;
  position: relative;
  background-color: #B9975B;
  color: white;
  width: 99%;  /*changed to 100 to take up the screen willgo over in meeting*/
  margin: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 94px;
}

/* main section */
.header1 {
  position: relative;
  background-color: #005035;
  color: white;
  width: 100%;
  margin-top: 0;
  margin-bottom: 11px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* navbar when logged in */
/* entire navbar space */
.topbar2 {
  display: flex;
  position: relative;
  background-color: #B9975B;
  color: white;
  width: 99%;  /*changed to 100 to take up the screen willgo over in meeting*/
  margin: auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 105px;
}

/* main section */
.header2 {
  position: relative;
  background-color: #005035;
  color: white;
  width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pages {
  position: absolute;
  color: white;
  width: 100%;
  bottom: 0%;
  height: 2em;
}

.navHome {
  position: absolute;
  right: 15em;
  bottom: 0%;
}

.titlebox {
  position: relative;
  color: white;
  background-color: #005035; 
  height: 50em;
  width: 50em;
  margin: auto;
}

.navMyEvents {
  position: absolute;
  right: 9em;
  bottom: 0%;
}

.navCreateEvent {
  position: absolute;
  right: 2.5em;
  bottom: 0%;
}

/* login button */
.login-button {
  display: block;
  float: right;
  margin-top: 24px;
  margin-right: 5%;
  
}

/* signup button */
.signup-button { 
  float: right;
  margin-top: 24px;
  margin-right: 1%;
}

/* unimeet logo & home button */
.Unimeet-Logo {
  display: block;
  float: left;
  height: 83px;
  width: auto;
  border-bottom-left-radius: 15px;
}

/*may need to scale image down and re-adjust this*/
.UNCC-Logo {
  position: absolute;
  transform: translate(-68%, 0);
  width: auto;
  height: 75px;
  margin: 3px;
}


/* Front Page */

/* welcome message */
.welcome {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  justify-content: center;
  position: relative;
  color: #005035;
}

/* area surrounding the slideshow */
.slideshowBox {
  position: relative;
  background-color: #eaeaea;
  height: 700px;
  width: 95%;
  margin: auto;
  margin-bottom: 200px;
  border-radius: 15px;
}

/* slideshow */
.slideshow {
  position: absolute;
  top: 7%;
  right: 16%;
  width: 1200px;  
}



/* CreateEventpage CSS */

/*Handles the width and centering of each input box*/
.w-50 {
  margin: auto;
}

/* App CSS */

.App {
  text-align: center;
}

/* Css that handles the bottom of the page*/
.App-header {
  background-color:#005035;
  margin: auto;
  width: 99%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* App link css*/
.App-link {
  color: #61dafb;
}

/*  css for the user profile pic  */
.userimage{
  float: right;
  margin-top: 8px;
  margin-right: 2%;
 /* border: 2px solid gold;       The borders do not line up currently*/   
  height: 50px;
  width: 50px;

}

/*createevent button*/
.createevent-button, .home-button {
  float: right;
  margin-top: 24px;
  margin-right: 1%;
}

/* signout button */
.signout-button { 
  display: block;
  float: right;
  margin-top: 24px;
  margin-right: 2%;
}


/* css for the button */
.custonbuttom{
  margin-top: 25px;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-left: 25px;

}
/*This is the css for the body  */
.textBackground{
  background-color: white;
  color: black;
  min-height: 100vh;

}

/* Dashboard "Main Area" (leaflet map and sidemenu) */

.mainArea {
  height: 700px;
  border: 4px solid blue;
  position: relative;
  display: block;
  justify-content: center;
  width: 90%;
  left: 5%;
}

.leaflet-container{
  position: relative;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content:center;
  border: solid black 5px;
  height: 700px;
  width: 78%;
}

#sideMenu {
  position: relative;
  display: none;
  float: left;
  border: 5px solid red;
}

#sideMenu.open {
  display: block;
  height: 100%;
  width: 22%;
  border: 5px solid purple;
}