/*slideshow test*/
.slideshow {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}


/* test css for CstmButton */
.login-button {
  /*position: relative;
  left: 470px;*/
  display: flex;
  margin-left: 74%;
}

/* test css for CstmButton */
.signup-button {
  /*position: relative;
  left: 470px;*/
  display: flex;
  margin-left: auto;
}







.App {
  text-align: center;
}
/* Css that handles the bottom of the page*/
.App-header {
  background-color:#2d7046;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* App link css*/
.App-link {
  color: #61dafb;
}



/*  css for the user profile pic  */
.userimage{
  border: 2px solid green;
  height: 50px;
  width: 50px;
}
/* css for the button */
.custonbuttom{
  margin-top: 25px;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-left: 25px;

}
/*This is the css for the body  */
.textBackground{
  background-color: #2d7046;
  color: black;
  min-height: 100vh;

}
/* This css is for the leaflet container in the dashboard page */
.leaflet-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content:center;
  border: solid black 5px;
  height:400px;
  width: 100%;
}
